<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <appSettings>
    <add key="siteCollectionUrl" value="https://<tenant>.sharepoint.com" />
    <!-- Change the domain of this property to point to the correct Azure Web Site.  Ensure you keep the /Services/RERApprovalTracking.svc portion -->
    <add key="ReceiverUrl" value="https://<tenant>.azurewebsites.net/Services/RERApprovalTracking.svc" />
    <!-- Change the domain of this property to point to the correct Azure Web Site. -->
    <add key="HostedAppHostNameOverride" value="<tenant>.azurewebsites.net" />
    <!-- Important - They are used when configuring app permissions in SharePoint and also used by the Auto Config 
         WebJob Client Id and Secret -->
    <!-- CONCRIB -->
    <add key="ClientId" value="<clientid>" />
    <add key="ClientSecret" value="<clientsecret>" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!--Used by SharePoint Add-in-->
        <binding name="secureBinding">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="https" bindingConfiguration="secureBinding" />
    </protocolMapping>
  </system.serviceModel>
</configuration>
<!--ProjectGuid: 3A530321-D305-4355-BA4E-BF1E2677D972-->